{namespace form=Neos\Form\ViewHelpers}
<f:validation.results for="{element.identifier}">
	<div class="{f:if(condition: validationResults.flattenedErrors, then: 'error')}">
		<f:render section="field" />
		<f:if condition="{validationResults.flattenedErrors}">
			<span class="help-inline">
				<f:for each="{validationResults.errors}" as="error">
					{error -> f:translate(id: error.code, arguments: error.arguments, package: element.renderingOptions.validationErrorTranslationPackage, source: 'ValidationErrors')}<br />
				</f:for>
			</span>
		</f:if>
	</div>
</f:validation.results>
